# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.dbmdl
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.jfm
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Visual Studio 2015 cache/options directory
.vs/

# Mac VScode or VS2017 for Mac
*.DS_Store


# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover